@import "variables.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, section, footer {
  margin: 2vw;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: $primaryFont;
  background-color: $primaryBackgroundColor;
  color: $primaryFontColor;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  flex: none;
}

.content-container {
  flex: 1;
  margin: 0 30vw 0 30vw;
}

.footer-container {
  flex: none;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
