@use "variables.scss";

footer {
  position: absolute;
  bottom: 0;
  width: 99vw;
}

.contact-us-container {
  flex: 1;
  justify-content: space-around;
  display: flex;
  font-size: 0.7em;
}

.contact-us-container img {
  width: 1.9rem;
  vertical-align: middle;
}

.contact-us-item {
  text-align: center;
  flex-shrink: 1
}

.linkedin img {
  width: 5.3rem;
}

