@import "variables.scss";

.footer-container {
  flex: 1;
}

.contact-us-container {
  grid-template-columns: auto auto;
  img {
    width: 40px;
  }
}

.grid-item {
  display: flex;
  align-items: center;
}

