@use "variables.scss";

.site-header h1 {
  background: variables.$highlightColor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-header .logo {
  text-align: center;
}

.site-header .logo h1, h4 {
  margin: 0;
}

.site-header .logo h4 {
  color: variables.$secondaryColor;
}

.site-header ul.nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-image: none;
  padding: 0;
}

.site-header .nav li {
  list-style-type: none;
}
