@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@500&display=swap");

$primaryBackgroundColor: #1B1B1B;
$primaryColor: white;
$primaryFont: "Montserrat";
$secondaryColor: #808080;
$highlightColor: linear-gradient(to bottom right, #c21500, #ffc500);
